Host *
  ForwardAgent yes


# Health Storylines
Host prod.hs
  HostName healthstorylines.com
  User ubuntu

Host staging.hs
  HostName staging.healthstorylines.com
  User ubuntu

Host demo.hs
  HostName demo.healthstorylines.com
  User ubuntu
  IdentityFile ~/.ssh/scc_aws.pem

Host db.prod.hs
  HostName 104.37.195.42
  User ubuntu

Host db.slave.hs
  HostName 104.37.192.230
  User ubuntu

Host db.ps.hs
  HostName 104.37.194.50
  User ubuntu

# Patient Storylines
Host prod.ps
  HostName prod.patientstorylines.com
  User ubuntu
  IdentityFile ~/.ssh/ps-key.pem

Host staging.ps
  HostName staging.patientstorylines.com
  User ubuntu
  IdentityFile ~/.ssh/ps-key.pem

Host dev.ps
  HostName dev.patientstorylines.com
  User ubuntu
  IdentityFile ~/.ssh/ps-key.pem
